body {

}
.starter-template {
  padding: 140px 15px;
  text-align: center;
}

img {
    border: 5px white;
    max-width: 100%;
}

p {
    width: 100%;
    margin-left: 20px;
    color: rgb(196, 182, 182);
    text-indent: 0px;
}

.row {
    width: 100%;
    margin-left: 0;
    margin-right: 5px;
}

.col {
  margin-left: 100px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}


h1 {
    color: white;
    margin-left: 20px;

}

h2 {
    color: white;
    margin-left: 20px;
}

h3 {
    color: white;
    margin-left: 20px;

}

h4 {
    color: white;
    margin-left: 20px;
}

li {
    color: white;
    list-style-type: none;
    margin-left: 20px;
}

a {
    color: rgb(241, 255, 222);
}

.navbar-toggler{
    color: rgb(241, 255, 222);
    background-color: black;
}
.button {
    border: none;
    color: black;
    background-color: lightgrey;
    text-align: center;
}

.button2 {
    border: none;
    color: white;
    background-color: transparent;
}

.caption {
    color: white;
    text-align: center;
}

.container {
    width: 500px;
    min-height: 340px;
    position: absolute;
    top: 265px;
    right: 0px;
    background-color: transparent;
}

.container-fluid {
    width: 700px;
    position: absolute;
    left: 50px;
    background-color: transparent;
    padding: 5px;
}

.container-fluid1 {
    width: 700px;
    position: absolute;
    left: 50px;
    background-color: transparent;
    padding: 5px;
}
.container-fluid2 {
    width: 700px;
    position: absolute;
    left: 50px;
    top: 600px;
    background-color: transparent;
    padding: 5px;
}
